spring:
  application:
    name: warezilla
  datasource:
    url: jdbc:postgresql://localhost:5432/warezilla
    username:  ${DB_USERNAME:?DB username missing}
    password: ${DB_PASSWORD:?DB password missing}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 9080

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    com.warezilla: DEBUG