spring:
  application:
    name: warezilla
  datasource:
    url: jdbc:postgresql://localhost:5432/warezilla
    username: postgres
    password: tushar41
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 9080
